.registration {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.registration-form-container {
  -webkit-box-shadow: 5px 5px 14px 4px rgba(0, 0, 0, 0.27);
  box-shadow: 5px 5px 14px 4px rgba(0, 0, 0, 0.27);
  margin: 3em 0.5em;
  padding: 3em;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}

.registration-form-container a {
  text-align: center;
}

.form-btn {
  margin: 1em auto;
  background-color: #1e69b8;
  border: none;
  padding: 1rem 2em;
  color: white;
  cursor: pointer;
  border-radius: 20px;
}

.form-btn:hover {
  transform: scale(1.1);
  transition: 0.3s;
  outline: none;
}

.registretion-input {
  padding: 1em;
  border-radius: 10px;
  border: solid 1px rgb(182, 182, 182);
  width: 90%;
}

input:hover {
  outline: none;
}

label {
  display: inline-block;
  padding: auto 1em;
}
.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.login-form {
  -webkit-box-shadow: 5px 5px 14px 4px rgba(0, 0, 0, 0.27);
  box-shadow: 5px 5px 14px 4px rgba(0, 0, 0, 0.27);
  padding: 3em;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}
.login-form a {
  text-align: center;
}
.login-btn-form {
  margin: 1em auto;
  background-color: #1e69b8;
  border: none;
  padding: 1rem 2em;
  color: white;
  cursor: pointer;
  border-radius: 20px;
}
.login-btn-form:hover {
  transform: scale(1.1);
  transition: 0.3s;
  outline: none;
}
@media screen and (max-width: 1024px) {
  .registration {
    height: 100vh;
  }
}
